@font-face {
    font-family: 'Cabin Sketch';
    src: url('fonts/cabinsketch-bold-webfont.eot');
    src: url('fonts/cabinsketch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabinsketch-bold-webfont.woff') format('woff'),
         url('fonts/cabinsketch-bold-webfont.ttf') format('truetype'),
         url('fonts/cabinsketch-bold-webfont.svg#CabinSketchBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC);
  background-position: center -100px; /* 71px */
  background-repeat: repeat, no-repeat;
  background-color: rgba(255, 123, 19, 0.73);
  /*background-color: white;*/
}

body {
  font-family: 'Century Gothic', sans-serif;
  color: #93cfd6;
  font-size: 24px; 
}

#schedule div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(148, 148, 148, 0.73);
  padding: 20px;
}

#schedule div > * {
  margin: 0;
  padding: 0;
  letter-spacing: -0.03em;
}

#schedule { 
  color: #000; 
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*border-radius:10px;*/
}

#schedule a {
  color: rgba(214, 103, 16, 0.8);
}

#schedule h3 {
  padding-top: 0px;
  font-size: 54px;
  clear: right;
}

#schedule h2 {
  line-height: 48px;
  font-size: 34px;
}

#schedule > * {
  /*text-shadow: 0px 1px 1px #fff;*/
  color:white;
}

#schedule img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 0;
  width: 100%;
  max-width: 100%;
}

/* twitter colours */
#tweets a {
  color: rgba(9, 172, 173, 0.8); 
}
.hentry .meta, #tweets .meta a { color: #99CFD7; }
#tweets li {
  background: white;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 11px 0px rgba(121, 71, 38, 0.75);
  -moz-box-shadow:    0px 0px 11px 0px rgba(121, 71, 38, 0.75);
  box-shadow:         0px 0px 11px 0px rgba(121, 71, 38, 0.75);
}
.tweet {
  color: #737373;
  /*background-color: rgba(245, 128, 36, .8);*/
  /*border-radius: 20px;*/
}

/* this simply puts a large background image on the schedule element if it matches the schedule time */
#schedule[data-time="0940"] {
  background-image: url(/images/sample/remy.jpg);
}
#schedule[data-time="0950"] {
  background-image: url(/images/sample/jeremy.jpg);
}
#schedule[data-time="1030"] {
  background-image: url(/images/sample/phil.jpg);
}
#schedule[data-time="1110"] {
  background-image: url(/images/sample/break1.jpg);
}
#schedule[data-time="1140"] {
  background-image: url(/images/sample/marijn.jpg);
}
#schedule[data-time="1220"] {
  background-image: url(/images/sample/rik.jpg);
}
#schedule[data-time="1430"] {
  background-image: url(/images/sample/nicholas.jpg);
}
#schedule[data-time="1510"] {
  background-image: url(/images/sample/glenn.jpg);
}
#schedule[data-time="1550"] {
  background-image: url(/images/samplebreak2.jpg);
}
#schedule[data-time="1620"] {
  background-image: url('http://danzarrella.com/large_new_headshot.jpg');
}
#schedule[data-time="1700"] {
  background-image: url('http://dhwpnzcd7dr1o.cloudfront.net/wp-content/uploads/2012/07/Sarah-HiRes-Crop.jpg');
}
#schedule[data-time="1900"] {
  background-image: url(/images/sample/closing.jpg); 
}

/* this allows us to customise what part is animated to fullscreen */
#notices .fullscreen {
  top: 100%;
  background: white;
}

/* this third notice will slide upwards as it also has .fullscreen */
#notice3.show {
  top: 0;
}

.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

/*#container {
  margin-top: .5%;
  margin-left: .5%;
}*/

.item,
.grid-sizer {
  width: 32.8%;
}

.item {
  height: 32.5%;
  float: left;
  background: #0AACAE;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.item.dh { height: 65.6%; background: rgba(255, 123, 19, 0.73); }


/* Working method */
.full-bg-1 {
  background: 
    linear-gradient(
      rgba(10,172,174, .9), 
      rgba(10,172,174, .7)
    ),
    url('http://higherlogicdownload.s3.amazonaws.com/HL/UploadedImages/7f2de571-92e8-49b0-ba12-27413bf99c95/2014_ASAE_Annual_Nashville.jpg')!important;
    background-size: cover!important;
}

.full-bg-2 {
  background: 
    linear-gradient(
      rgba(10,172,174, .9), 
      rgba(10,172,174, .7)
    ),
    url('http://higherlogicdownload.s3.amazonaws.com/HUG/UploadedImages/f5e1d932-2bf8-4166-9948-47a258b83e39/Blogs/HL_Blog_BOD_300x300.jpg')!important;
    background-size: cover!important;
}

.full-bg-3 {
  background: 
    linear-gradient(
      rgba(10,172,174, .9), 
      rgba(10,172,174, .7)
    ),
    url('http://higherlogicdownload.s3.amazonaws.com/HUG/UploadedImages/f5e1d932-2bf8-4166-9948-47a258b83e39/Blogs/HL_Blog_Subscribe_300x300.jpg')!important;
    background-size: cover!important;
}

.full-bg-4 {
  background: 
    linear-gradient(
      rgba(10,172,174, .9), 
      rgba(10,172,174, .7)
    ),
    url('http://higherlogicdownload.s3.amazonaws.com/HUG/UploadedImages/f5e1d932-2bf8-4166-9948-47a258b83e39/Blogs/HL_Blog_Optin_300x300.jpg')!important;
    background-size: cover!important;
}

.full-bg-5 {
  background: 
    linear-gradient(
      rgba(10,172,174, .9), 
      rgba(10,172,174, .7)
    ),
    url('http://higherlogicdownload.s3.amazonaws.com/HUG/UploadedImages/f5e1d932-2bf8-4166-9948-47a258b83e39/Blogs/HL_Blog_Detractor_300x300.jpg')!important;
    background-size: cover!important;
}

.tinted-image {
  background: linear-gradient(rgba(255, 114, 3, 0.75), rgba(255, 123, 19, 0.61))!important;
}

.item h2 {
  color:white;
  margin-left:15px;
  margin-top:15%;
  text-align:center;
  text-shadow: 1px 1px 18px rgba(19, 18, 18, 0.98);
}
.item img {
  box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.75);
  moz-box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.75);
  webkit-box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.75);
}
