@font-face {
    font-family: 'Cabin Sketch';
    src: url('fonts/cabinsketch-bold-webfont.eot');
    src: url('fonts/cabinsketch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cabinsketch-bold-webfont.woff') format('woff'),
         url('fonts/cabinsketch-bold-webfont.ttf') format('truetype'),
         url('fonts/cabinsketch-bold-webfont.svg#CabinSketchBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2P4//+/MBQzgDAICEMxXAAMYCoRIlCVANL6FYTYi5d+AAAAAElFTkSuQmCC);*/
  background-position: center -100px; /* 71px */
  background-repeat: repeat, no-repeat;
  background-color: white;
  /*background-color: white;*/
}

body {
  font-family: 'Century Gothic', sans-serif;
  color: #93cfd6;
  font-size: 24px; 
}

#schedule div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(102, 102, 102, 0.73);
  padding: 20px;
}

#schedule div > * {
  margin: 0;
  padding: 0;
  letter-spacing: -0.03em;
}

#schedule { 
  color: #000; 
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*border-radius:10px;*/
  height: 200%;
}

#schedule a {
  color: white;
}

#schedule h3 {
  padding-top: 0px;
  font-size: 54px;
  clear: right;
}

#schedule h2 {
  line-height: 48px;
  font-size: 34px;
}

#schedule > * {
  /*text-shadow: 0px 1px 1px #fff;*/
  color:white;
}

#schedule img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 0;
  width: 100%;
  max-width: 100%;
}

/* twitter colours */
#tweets a {
  color: rgba(9, 172, 173, 0.8); 
}
.hentry .meta, #tweets .meta a { color: #99CFD7; }
#tweets li {
  background: white;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.75);
  -moz-box-shadow:    0px 0px 6px 0px rgba(102, 102, 102, 0.75);
  box-shadow:         0px 0px 6px 0px rgba(102, 102, 102, 0.75);
}
.tweet {
  color: #737373;
  /*background-color: rgba(245, 128, 36, .8);*/
  /*border-radius: 20px;*/
}

#schedule {
  background-image: url(images/background.png); 
  background-size: contain;
  background-position-y: 18px;
}

/* this allows us to customise what part is animated to fullscreen */
#notices .fullscreen {
  top: 100%;
  background: white;
}

/* this third notice will slide upwards as it also has .fullscreen */
#notice3.show {
  top: 0;
}

.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

#container {
  /*margin-top: .5%;
  margin-left: .5%;*/
  height: 90%;
}

.item {
  height: 33.4%;
  width: 33.33%;
  float: left;
  background: #0AACAE;
  /*border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);*/
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  font-family: 'Lato' !important;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;
}

.item.dh { height: 66.7%; }
.item h2 {
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 15px;
  text-shadow: 1px 1px 1px rgba(19, 18, 18, 0.98);
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 25px;
}

.item h4 {
  color: white;
  text-shadow: 1px 1px 1px rgba(19, 18, 18, 0.98);
  position: absolute;
  top: 10px;
  left: 20px;
  right: 15px;
  font-weight: 300;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}