<!DOCTYPE html>
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<title>Conference Twitter Wall</title> 
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head> 
<body class="hflex-wrapper"> 
  <div class="vflex-wrapper50"> 
    <div id="schedule">
      <!-- style the schedule as you please -->
      <div data-time="0800">
        <p>Next: 8:00am</p><h2>Breakfast</h2>
      </div>
      <div data-time="0900">
        <p>Next: 9:00am</p><h2>Opening General Session</h2>
      </div>
      <div data-time="0945">
        <p>Next: 09:45am</p><h2>Keynote: The Science of Social Media Marketing with Dan Zarrella</h2>
      </div>
      <div data-time="1030">
        <p>Next: 10:30am</p><h3>Break</h3>
        <br>
        <hr>
        <br>
        <p>After: 10:45am</p><h3>3 Breakout Sessions</h3>
        <h2>Responsive Design & Higher Logic Websites</h2>
        <h2>Award Winning Ideas & Strategies</h2>
        <h2>A Community Manager's Year</h2>
      </div>
      <div data-time="1045">
        <p>Next: 10:45am</p><h3>3 Breakout Sessions</h3>
        <h2>Responsive Design & Higher Logic Websites</h2>
        <h2>Award Winning Ideas & Strategies</h2>
        <h2>A Community Manager's Year</h2>
      </div>
      <div data-time="1145">
        <p>Next: 11:45am</p><h3>Lunch</h3>
        <br>
        <hr>
        <br>
        <p>After: 01:00pm</p><h3>3 Breakout Sessions</h3>
        <h2>MGI and Higher Logic’s 2014 Engagement Benchmarking Report</h2>
        <h2>Game Changers – Bootstrap, Widgets and Automation Rules</h2>
        <h2>Communities: Collaborative Technology for Management and Governance</h2>
      </div>
      <div data-time="1300">
        <p>Next: 01:00pm</p><h3>3 Breakout Sessions</h3>
        <h2>MGI and Higher Logic’s 2014 Engagement Benchmarking Report</h2>
        <h2>Game Changers – Bootstrap, Widgets and Automation Rules</h2>
        <h2>Communities: Collaborative Technology for Management and Governance</h2>
      </div>
      <div data-time="1400">
        <p>Next: 02:00pm</p><h3>Break</h3>
        <br>
        <hr>
        <br>
        <p>After: 02:15pm</p><h3>3 Breakout Sessions</h3>
        <h2>Google Tools: Making the Most of Analytics & Adwords on Higher Logic Websites</h2>
        <h2>Drive Engagement & Bring Gamification to Your Community</h2>
        <h2>Maximize Your Content to Boost Membership</h2>
      </div>
      <div data-time="1415">
        <p>After: 02:15pm</p><h3>3 Breakout Sessions</h3>
        <h2>Google Tools: Making the Most of Analytics & Adwords on Higher Logic Websites</h2>
        <h2>Drive Engagement & Bring Gamification to Your Community</h2>
        <h2>Maximize Your Content to Boost Membership</h2>
      </div>
      <div data-time="1530">
        <p>Next: 3:30pm</p><h2>Open House</h2>
      </div>
      <div data-time="1730">
        <p>Next: 5:30pm</p><h2>Welcome Reception</h2>
      </div>
    </div>  
    <div id="notices">
      <!-- here you create divs that are shown on a rotation, add fullscreen class, and customise the hold time with data-hold-time="3s" -->
      <!-- <div id="notice1">
        <img src="/images/sample/sponsors.png">
      </div> -->
      <div id="notice2">
        Panel 2
      </div>
      <div id="notice3" data-hold-time="30s" class="fullscreen">
        <div id="container" style="">
          <a class="item full-bg-0">
            <div class="background-faded-0">
              <h4 class="item-text-0">
              </h4>
            </div>
          </a>

          <a class="item full-bg-1">
            <div class="background-faded-1">
              <h4 class="item-text-1">
              </h4>
            </div>
          </a>

          <a class="item dh full-bg-2">
            <div class="background-faded-2">
              <h2 class="item-text-2">
              </h2>
            </div>
            <!-- <img src="http://higherlogicdownload.s3.amazonaws.com/HL/UploadedImages/7f2de571-92e8-49b0-ba12-27413bf99c95/HL_Blog_Sheridan_300x300%20copy.jpg" style="margin-left:30%;
            border-radius:150px;"> -->
          </a>

          <a class="item dh full-bg-3">
            <div class="background-faded-3">
              <h2 class="item-text-3">
              </h2>
            </div>
           <!--  <img src="http://higherlogicdownload.s3.amazonaws.com/HL/UploadedImages/7f2de571-92e8-49b0-ba12-27413bf99c95/HigherLogic_Personify_Webinar.jpg" style="margin-left:30%;
            border-radius:150px;"> -->
          </a>

          <a class="item full-bg-4">
            <div class="background-faded-4">
              <h4 class="item-text-4">
              </h4>
            </div>
          </a>

          <a class="item full-bg-5">
            <div class="background-faded-5">
              <h4 class="item-text-5">
              </h4>
            </div>
          </a>

          <a class="item full-bg-6">
            <div class="background-faded-6">
              <h4 class="item-text-6">
              </h4>
            </div>
          </a>

        </div>
        <!-- <div style="height: 10%; margin-top: 0px; background: gray;">
          <h2 style="margin-left: 15px; color: white; margin-top: 0px; margin-bottom: 0px; padding-top: 15px;">To see all the content, visit www.higherlogic.com/suconference14</h2>
        </div> -->
      </div>
    </div> 
  </div>
  <div id="twitterwall"> 
    <ul id="tweets"></ul> 
  </div> 

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong> 
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script> 
  <script src="app/js/jquery.min.js"></script> 
  <script src="packery.pkgd.js"></script> 
  <script src="modernizr.js"></script> 
  <script src="app/js/app.js"></script>
</body> 
</html> 
 
 
 
 
 
 
 
